<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SSM_01_MyBatis_dxc/src/ch04_association_mapping_dxc_53/Test_01_getCardInfo_UserInfo_by_cardId_association_select_map_dxc_53.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch04_association_mapping_dxc_53.Test_01_getCardInfo_UserInfo_by_cardId_association_select_map_dxc_53"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SSM_01_MyBatis_dxc"/>
</launchConfiguration>
