<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SSM_01_MyBatis_dxc/src/ch01_01_get_user_count_dxc_53/Test_05_get_user_info_by_userId_userName_Map_dxc_53.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ch01_01_get_user_count_dxc_53.Test_05_get_user_info_by_userId_userName_Map_dxc_53"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SSM_01_MyBatis_dxc"/>
</launchConfiguration>
