<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 1. 注册 HttpRequestHandlerAdapter，用于支持实现了 HttpRequestHandler 接口的处理器 -->
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter" />

    <!-- 2. 配置 SimpleUrlHandlerMapping，将 URL 映射到处理器 -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <!-- 当访问 /toIndex 时，交给 toIndexPageController 处理 -->
                <prop key="/to_indexPage.action">toIndexPageController</prop>
                <!-- 如果需要根路径也触发，可取消注释下一行 -->
                <!-- <prop key="/">toIndexPageController</prop> -->
            </props>
        </property>
    </bean>

    <!-- 3. 定义您的处理器 Bean -->
    <bean id="toIndexPageController" class="ch11_03_SimpleUrlHandlerMapping_dxc_53.To_indexPage_controller_dxc_53" />

    <!-- 4. （可选）视图解析器：因为您的处理器直接 forward 到 /index.jsp，其实可以省略 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/" />
        <property name="suffix" value=".jsp" />
    </bean>

</beans>